.navigation {
  font-family: "Oswald", sans-serif;
  font-size: 20px;
}

.navigation__toggle{

}

.navigation__logo {

}

.navigation__logo-image {

}

.navigation__logo-text {

}

.navigation__list {

}

.navigation__item {

}

.navigation__item-link {
  color: #000000;
}

.navigation__item--active {

}
